.cover__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 245px 0;
    background-color: rgba(42, 44, 47, 0.3);
    color: inherit;
    text-decoration: none;
}
/* Добавлена плавность затемнения */
.cover__link:hover{
    background-color: rgba(42, 44, 47, 0.8);
    transition: background-color 1s linear;
}

@media screen and (max-width:1184px){
    .cover__link{
        padding: 195px 0;
    }
}

@media screen and (max-width:768px) {
    .cover__link{
        padding: 115px 0;
    }
}

@media screen and (max-width:450px) {
       .cover__link{
        padding: 33px 0;
    } 
}
