.page {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
    background-color: #2A2C2F;
    text-rendering: optimizeLegibility;
}
