.lead__title {
    margin: 53px 0 0;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        margin-top: 45px;
    }
}

@media screen and (max-width: 755px) {
    .lead__title {
        width: calc(100% - 24px - 24px);
        font-size: 40px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        min-width: 288px;
    }
}