.place__paragraph {
    margin: 0 0 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width:756px) {
    .place__paragraph{
        font-size: 16px;
    }
}

@media screen and (max-width: 368px) {
    .place__paragraph {
        padding: 0 24px;
    }
}

@media screen and (max-width:320px) {
    .place__paragraph {
        padding: 0 16px;
        width: calc(100% - 16px - 16px);
    }
}