.cover {
    margin: 104px auto 0;
    max-width: 1184px;
    position: relative;
    background-image: url('../../images/__background.jpg');
    background-size: cover;
    background-position: center center;    
}

@media screen and (max-width:1024px) {
    .cover{
        margin-top: 81px;
    }
}

@media screen and (max-width:768px) {
    .cover{
        margin-top: 92px;
    }
}

@media screen and (max-width:320px) {
    .cover{
        margin-top: 66px;
    }
}