@import url(../vendor/normalize.css);
/* Импорт всей страницы */
@import url(../blocks/page/page.css);
/* Import hover */
@import url(../blocks/hover/hover.css);
/* Импорт блока header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);
/* Импорт блока lead */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
/* Импорт блока intro */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-number/intro__list-number.css);
/* Импорт блока photo-grid */
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
/* Импорт блока places */
@import url(../blocks/places/places.css);
/* Import place */
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/places__title.css);
@import url(../blocks/place/__heading/place__heading.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
/* Import cover */
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
/* Import footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);










