.place__heading {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: #AAAAAA;
    /* Добавлено свойство заглавных букв */
    text-transform: uppercase;
}
