.lead__caption {
    margin-top: 8px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
    .lead__caption {
        width: calc(100% - (48px*2));
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width: 385px) {
    .lead__caption {
        padding-left: 16px;
    }
}