.place {
    list-style: none;
    display: grid;
    column-gap: 17px;
    row-gap: 46px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media screen and (max-width: 1080px) {
    .place {
        column-gap: 20px;
    }
}

@media screen and (max-width:756px) {
    .place {
        column-gap: 28px;
    }
}

@media screen and (max-width: 368px) {
    .place {
        gap: 28px;
    }
}

@media screen and (max-width:320px) {
    .place {
        gap: 28px;
    }
}