.footer {
    margin: 92px 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:756px) {
    .footer {
        margin: 88px 24px 0;
    }
}

@media screen and (max-width:710px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 64px 16px 0;
    }
}