.footer {
    margin: 76px 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:1024px) {
    .footer{
        margin-top: 77px; 
    }
}

@media screen and (max-width:768px) {
    .footer {
        margin: 77px 24px 0;
    }
}

@media screen and (max-width:710px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 64px 16px 0;
        gap: 34px;
    }
}