.intro__title {
    margin: 93px 0 39px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
}

@media screen and (max-width:768px) {
    .intro__title {
        margin-top: 88px;
    }
}

@media screen and (max-width:320px) {
    .intro__title {
        margin-top: 64px;
        width: 100%;
        font-size: 32px;
        line-height: 1.09;
    }
}